.formContainer{
    margin: 10px 15px;
}
.formContainer input{
    outline: none;
}
.formContainer>div{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.formContainer>div>label{
    min-width: 100px;
    width: 35%;
}
.formContainer>div>input{
    width: 65%;
    height: 20px;
    font-size: 14px;
}